body {
    text-align: center;
    background: linear-gradient(to right, #ee7b7f, #f15eb9);
    overflow: hidden;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

h2 {
    font-size: 45px;
    color: white;
    margin-top: 100px;
    animation: fadeIn 2s ease-in-out;
}

h1 {
    font-size: 50px;
    color: rgb(255, 230, 0);
    margin-top: 100px;
    animation: fadeIn 2s ease-in-out;
}

#cake {
    font-size: 40px;
    margin-top: 20px;
    animation: bounce 1s infinite alternate;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #e91e63;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-20px);
    }
}

/* Balloon Styles */
.balloon {
    position: absolute;
    width: 50px;
    height: 70px;
    background: red;
    border-radius: 50%;
    left: 50%;
    bottom: 50vh;
    animation: floatUp 1s linear infinite;
}

@keyframes floatUp {
    0% {
        transform: translateY(100vh);
        opacity: 1;
    }

    100% {
        transform: translateY(-10vh);
        opacity: 0;
    }
}